.topbar-nav {
  width: calc(100% - 230px);
  height: 60px;
  position: fixed;
  background: $light-color;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $font-color;
} 

.topbar-ul {
  font-style: $bar-font;
  color: $font-color;
  justify-content: flex-end;
  width: auto;
  float: right;
  display: flex;
  text-align: center;
}

.topbar-ul span {
  margin: 0 10px;
}

.topbar-li {
  display: flex;
  align-items: baseline;
  border-left: 1px solid $font-color;
  padding: 10px 20px 0 20px;
}

.topbar-li i:hover {
  color: $button-hover;
  cursor: pointer;
}