.sidebar-scrollbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0 15px 0 15px;
}

.logo {
  font-family: $fancy-font;
  font-size: 28px;
}

i.fa-bars {
  margin-left: 77px;
}

i.fa-bars:hover {
  color: $button-hover;
}
