.sidebar {
  width: 230px;
  background: $sidebar-background;
  color: $sidebar-font;
  height: 100%;
  z-index: 22;
  position: fixed;
}

.sidebar-ul{
  list-style: none;
  display: block;
  padding: 0 0 40px 0;
  border-bottom: 1px solid;
  border-color: $sidebar-font;
}

.sidebar-li{
  margin: 10px 0 10px 0;
  padding: 0 0 0 18px;
  list-style: none;
  height: 35px;
  line-height: 35px;
  font-family: $bar-font;
  color: $sidebar-font;
}

.sidebar-li a {
  text-decoration: none;
  color: $sidebar-font;
}

.sidebar-li:hover{
  border-left: 4px solid $button-hover;
  padding: 0 0 0 14px;
  background: $sidebar-background-hover;
  color: $sidebar-font-hover;
  cursor: pointer;
} 

.sidebar-chat h2 {
  font-size: 16px;
  margin: 10px 0 10px 0;
  padding: 0 0 0 18px;
  list-style: none;
  height: 35px;
  line-height: 35px;
}

.manager {
  padding-left: 18px;
  display: flex;
}

.manager span {
  list-style: none;
  font-size: 16px;
  font-family: $bar-font;
  color: $sidebar-font;
}

.manager img {
  margin: 0 10px 0 10px;
  display: inline-block;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
  height: 40px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar ul {float: left;}

  .sidebar li {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar li {
    text-align: center;
    float: none;
  }
}
